<div class="flex justify-center">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-2"
  >
    <input
      type="text"
      class="border rounded px-4 py-2"
      formControlName="email"
      placeholder="Email"
    />
    <input
      type="password"
      class="border rounded px-4 py-2"
      formControlName="password"
      placeholder="Password"
    />

    <button
      type="submit"
      class="border bg-stone-800 text-white font-bold border-gray-400 rounded px-4 py-2"
    >
      Register
    </button>
  </form>
</div>
